<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your choice</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>info</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<h1 class="slide-top reduce-font"><nobr>กรุณาเลือกแบบทดสอบที่เหมาะกับคุณ</nobr></h1></center>
<div class="scroll-text-wrapper">
    <p>
       ในการทดสอบคลื่นสมองแบ่งเป็นสองแบบ ได้แก่ 
        </p>
        <p>
        1. การทดสอบแบบมีตัวแปรดึงอารมณ์
        </br>
        ในการทดสอบแบบนี้จะเป็นการทดสอบโดยให้ผู้ใช้ฟังเพลงและดูรูปภาพต่าง ๆ เพื่อให้ผู้ใช้สามารถดึงอารมณ์
        ที่แท้จริงออกมาได้ ซึ่งจะทำให้ค่าการทดสอบที่ได้มีความแน่นอนมากกว่า
        </p>
        <p>
          2. การทดสอบแบบไม่มีตัวแปรดึงอารมณ์
          </br>
          ในการทดสอบแบบนี้จะเป็นการทดสอบโดยให้ผู้ใช้ส่วนใส่เครื่องวัดคลื่นสมองจนกว่าเครื่องจะให้สัญญาณว่าหมด
          เวลาทำการทดสอบ ซึ่งใช้เวลาเฉลี่ย 1-2 นาที 
          </p>
        <p style="color: orange;">
        ชี้แจง : การทดสอบในรูปแบบที่สองจะใช่้เวลาน้อยกว่าการทดสอบแบบแรกประมาณ 1 นาที 
        </p>
</div>
<form method="GET" action="/mindwave_test">
  <center><button style="left: 15%;"class="start-btn slide-down">ทดสอบแบบที่ 1</button></center>
</form>
<form method="GET" action="/mindwave_test_case2"></form>
  <center><button style="right: 37%;" class="start-btn slide-down">ทดสอบแบบที่ 2</button></center>
</form>
  <!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../static/particles.js"></script>
<script src="../static/app.js"></script>

</body>
</html>
</body>
</html>