<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>particles.js</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/style.css">
</head>
<body>
<center><h1><nobr>คุณคิดว่าตัวเองเครียดหรือเปล่า ?</nobr></h1></center>
<form method="GET" action="/info">
  <center><button class="start-btn">ตรวจสอบตอนนี้</button></center>
</form>
<center><p class="p-main"><nobr>ในปี 2020 มีผู้คนกว่า 264 ล้านคนทั่วโลกที่กำลังประสบกับภาวะโรคซึมเศร้าโดยที่ยังไม่รู้ตัว</nobr></p></center>
<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../static/particles.js"></script>
<script src="../static/app.js"></script>

</body>
</html>