<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>particles.js</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/style.css">
</head>
<body>
<center><h1 class="slide-top reduce-font"><nobr>คำชี้แจงในการทดสอบ</nobr></h1></center>
<div class="scroll-text-wrapper">
    <p>
        Risus condimentum montes torquent etiam proin odio nibh ultrices neque aenean. Orci faucibus quisque volutpat urna quis nam. Aliquet condimentum magna pellentesque sociis vitae, hendrerit lobortis fermentum sociis auctor lacus. Odio hac morbi lectus. Pulvinar aliquam montes platea. Augue neque ridiculus nulla vulputate. Sociosqu malesuada vestibulum metus libero phasellus nibh augue natoque facilisi egestas sodales? Leo parturient a erat. Cum netus laoreet condimentum, sed justo suscipit tempus himenaeos. Fusce semper nibh litora lacus euismod tincidunt. Pellentesque litora nostra interdum? Mi primis lorem tortor sem facilisis nascetur dui potenti sodales nulla. Ante elit libero.
        </p>
        <p>
        Suspendisse sapien, ante dignissim volutpat fermentum laoreet tellus. Tristique litora mattis dictumst penatibus primis elit praesent aliquet lectus sagittis luctus. Enim maecenas consequat metus ligula aliquet curabitur ad venenatis enim sem proin nunc. Iaculis arcu natoque netus a risus donec. Netus nec molestie dis elit felis pulvinar gravida lacinia inceptos etiam? Bibendum hac; enim nulla pellentesque dictumst vehicula maecenas eros mauris massa rhoncus. Cubilia molestie porta dui et a consequat. Imperdiet rutrum.
        </p>
        <p>
        Lectus tempor vel posuere fermentum hendrerit est pharetra. Egestas egestas ullamcorper nisi. Quis curabitur magna, odio pulvinar vestibulum purus lacinia sagittis magnis semper? Maecenas lacinia velit fringilla euismod dapibus mi elementum per nullam luctus sodales. Porttitor rutrum non tempor. Elementum commodo, duis vestibulum suspendisse quis est lacinia. Lacinia nec dolor consequat lorem laoreet curae; inceptos. Posuere primis cubilia neque praesent. Sollicitudin himenaeos sem rutrum potenti eu litora?
        </p>
        <p>
        Proin varius nullam mauris bibendum at, placerat magna. Erat sed quis, hac erat conubia vel malesuada diam. Aenean maecenas bibendum augue congue vehicula, auctor suscipit arcu duis interdum id iaculis. Molestie parturient pharetra erat diam netus ultrices facilisis in venenatis fusce. Quisque feugiat nullam ultricies dis justo tellus fringilla parturient ultrices netus interdum! Felis lacus interdum condimentum purus mauris. Proin egestas nisi leo. Class libero hendrerit vulputate nibh montes libero.
        </p>
        <p>
        Facilisi ullamcorper vitae malesuada vivamus netus ultricies! Nullam lobortis dictumst purus ornare semper aptent! Fames imperdiet ad ornare habitant habitant! Natoque, phasellus mattis placerat eros. Commodo leo a elementum cursus convallis quis felis ac ultricies etiam urna suscipit. Eget pretium ac at quam id cum varius blandit lacinia sed. Sociosqu velit commodo odio. Quis risus conubia urna, neque ornare potenti gravida vivamus vivamus eu varius! Tincidunt velit, sapien velit risus aptent molestie senectus volutpat rhoncus. Etiam hendrerit cum sociis nec bibendum fermentum dis a magna hac varius nisi. Sed, dictum in sagittis pellentesque morbi. Phasellus sociosqu taciti turpis dis.
        </p>
</div>
<form method="GET" action="/info">
  <center><button class="start-btn slide-down">ฉันพร้อมรับการทดสอบแล้ว</button></center>
</form>
<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../static/particles.js"></script>
<script src="../static/app.js"></script>

</body>
</html>