<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>info</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/style.css">
</head>
<body>
<center><h1 class="slide-top reduce-font"><nobr>คำชี้แจงในการทดสอบ</nobr></h1></center>
<div class="scroll-text-wrapper">
    <p>
       ในการทดสอบจะแบ่งออกเป็นสองประเภท ได้แก่ 
        </p>
        <p>
        1. การทดสอบแบบเลือกตอบ
        </br>
        ในการทดสอบแบบเลือกตอบจะเป็นการให้ผู้เข้ารับการทดสอบทำแบบสอบถามคัดกรองผู้ป่วย
        โรคซึมเศร้าเบื้องต้น โดยแบบทดสอบจะเป็นแบบทดสอบที่เป็นมาตรฐานของ กรมสุขภาพจิต
        แห่งประเทศไทย ซึ่งแบบทดสอบในส่วนนี้จะมีทั้งหมด 9 ข้อด้วยกัน
        </p>
        <p>
          2. การทดสอบคลื่นสมอง
          </br>
          ในการทดสอบแบบคลื่นสมองจะเป็นการให้ผู้เข้ารับการทดสอบ ได้สวมใส่อุปกรณ์วัดคลื่นสมอง
          <a href="#">EEG</a> โดยเมื่อทำการสวมใส่แล้วจะมีการทดสอบคลื่นสมองโดยการให้ฟัง
          เพลงและดูรูปภาพต่าง ๆ และทำการวัดคลื่นสมองไปในขณะเดียวกัน 
          </p>
        <p class="alerty">
        คำเตือน : ขณะเข้ารับการทดสอบขอความกรุณาผู้เข้ารับการทดสอบไม่กัดฟัน หรือ
        พูดคุยในขณะเข้ารับการทดสอบ เพราะอาจจะทำให้ ผลการทดสอบมีความผิดพลาดได้ 
        </p>
</div>
<form method="GET" action="/registeration">
  <center><button class="start-btn slide-down">ต่อไป</button></center>
</form>
<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../static/particles.js"></script>
<script src="../static/app.js"></script>

</body>
</html>