<!DOCTYPE html>
<html lang="en" dir="ltr">
    
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page test</title>
    <link rel="stylesheet" href="../static/slideshow.css">
    
  </head>
  <body scrolling="no" style="overflow: hidden;">

    <div class="img-slider" scrolling="no">
      <div class="slide active">
        <img src="../static/1.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/2.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/3.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/4.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/5.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/6.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/7.jpg" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/8.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/9.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/10.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/11.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/12.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/13.jpg" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/14.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/15.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/16.png" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/17.jpg" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/18.jpg" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/19.jpg" alt="">
        <div class="info">
        </div>
      </div>
      <div class="slide">
        <img src="../static/20.jpg" alt="">
        <div class="info">
        </div>
      </div>
    </div>

    <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btn');
    let currentSlide = 1;


    // Javascript for image slider autoplay navigation
        var repeat = function(activeClass){
          let active = document.getElementsByClassName('active');
          let i = 1;

          var repeater = () => {
            setTimeout(function(){
              [...active].forEach((activeSlide) => {
                activeSlide.classList.remove('active');
              });

            slides[i].classList.add('active');
            i++;

            if(slides.length == i){
              i = 0;
            }
            if(i >= slides.length){
              return;
            }
            repeater();
          }, 5000);
          }
          repeater();
        }
        repeat();
    </script>

  </body>
    

    
</html>


