<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan 2</title>
    <link rel="stylesheet" media="screen" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">  
</head>
<body style="overflow:hidden;" scrolling="no">
    <video style="width: 1920px; height: 1080px;" style="overflow:hidden;" scrolling="no" autoplay>
        <source src="../static/BG.mp4" type="video/mp4"  style="overflow:hidden;" scrolling="no" >
    </video>
    <!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<!-- <script src="../static/particles.js"></script>
<script src="../static/app.js"></script> -->
</body>
<script>
    var i = 120;
    IntervalUID = setInterval(docountdown,1000)
    function docountdown() {
        i-=1;
        if (i <= 0 ){
            clearInterval(IntervalUID);
            location.replace("http://127.0.0.1:5000/result");
        }
    }
</script>
</html>