<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>index</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/style.css">
</head>
<body>
<center><h1><nobr>ยินดีต้อนรับสู่การทดสอบคลื่นสมอง</nobr></h1></center>
<form method="GET" action="/mindwave_test">

    <center><button type="submit" id="btn" class="start-btn">เชื่อมต่อ</button></center>
</form>  
<center><p class="p-main"><nobr>หากท่านสวมใส่เครื่องมือเรียบร้อยแล้วให้ท่านกดปุ่นข้างล่างนี้เพื่อเชื่อมต่อกับเครื่อง</nobr></p></center>
<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../static/particles.js"></script>
<script src="../static/app.js"></script>
<style>
    .loader{
        position: absolute;
        top: -50%;
        right: -20%;
        height: 200%;
        width: auto;
        display: none;
    }
</style>
<script>

</script>
</body>
</html>