body , html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
video {
    width: 100%;
    height: auto;
    z-index: 1;
}
.question-container {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 0%;
    right: 5%;
    z-index: 3;
    animation: animate1 1s forwards;
}
.answer-container {
    position: absolute;
    top: 40%;
    width: 24%;
    right: 40%;
    height: auto;
    z-index: 5;
    animation: animate1-half 2s forwards;
}
.slide-right {
    right: 15%;
}
.slide-left {
    right: 65%;
}
.bit-left {
    right: 27%;
}
.bit-right {
    right: 53%;
}

.slide-down {
    top: 60%;
}
@keyframes animate1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animate1-half {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.question-text {
    position: absolute;
    top: 10%;
    right: 13%;
    color: white;
    z-index: 999;
    font-size: 50px;
    white-space: nowrap ;
}